<!-- AJAX获取github上的project name,commit等等-->
<nav class="level is-mobile">
<div class="level-item has-text-centered">
  <div>

  </div>
</div>
<div class="level-item has-text-centered">
  <div></div>
</div>
<div class="level-item has-text-centered">
  <div></div>
</div>
<div class="level-item has-text-centered">
  <div></div>
</div>
</nav>
