<style>
    #height {
        height: 100px;
        box-sizing: border-box;
        color: rgb(51, 51, 51);
        font-size: 18px;
        font-weight: 400;

    }

    .footer_p {
        box-sizing: border-box;
        font-size: 18px;
        font-weight: 200;
        line-height: 27px;
        text-align: center;
        text-rendering: optimizelegibility;
    }

    .footer_link {
        color: black;
    }
</style>
<footer class="footer" id="height">

    <div class="container">
        <div class="content has-text-centered ">
            <p class="footer_p">
                Theme By<a href="https://github.com/varctrl/" class="footer_link
"> varCTRL.</a>
                Inspired By<a href="https://github.com/levblanc/hexo-theme-aero-dual" class="footer_link
"> Aero Dual.</a>
            </p>
        </div>
        <div class="content has-text-centered">
            <p class="footer_p">Powered By <a href="https://hexo.io/" class="footer_link
"> Hexo.</a></p>
        </div>
    </div>

</footer>
